.page{  
  width: 21cm;
  /* height: 29.7cm;  */
  border: 1px solid rgb(212, 212, 212);
 margin:20px auto;
 padding: 30px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.txtsize{
  font-size: 12px;

 
}
.wordspace{
  word-spacing: 6px;
}
.txtcolor{
  color: gray;
}